<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

	<!-- ================  device begin =================           -->
	<servlet>
		<servlet-name>device_file_servlet_action</servlet-name>
		<servlet-class>device.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>device_file_servlet_action</servlet-name>
		<url-pattern>/device_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  device end =================           -->

	<!-- ================  login begin =================           -->
	<servlet>
		<servlet-name>user_center_servlet_action</servlet-name>
		<servlet-class>user.center.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user_center_servlet_action</servlet-name>
		<url-pattern>/user_center_servlet_action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>complain_center_servlet_action</servlet-name>
		<servlet-class>complain.center.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>complain_center_servlet_action</servlet-name>
		<url-pattern>/complain_center_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  login end =================           -->

	<!-- ================  trade begin =================           -->
	<servlet>
		<servlet-name>futures_file_servlet_action</servlet-name>
		<servlet-class>futures.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>futures_file_servlet_action</servlet-name>
		<url-pattern>/futures_file_servlet_action</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>shares_file_servlet_action</servlet-name>
		<servlet-class>shares.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shares_file_servlet_action</servlet-name>
		<url-pattern>/shares_file_servlet_action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>exchanges_file_servlet_action</servlet-name>
		<servlet-class>exchanges.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exchanges_file_servlet_action</servlet-name>
		<url-pattern>/exchanges_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  trade end =================       -->
	<listener>
		<listener-class>shares.dao.GetSharesData</listener-class>
	</listener>
<!--	<listener>-->
<!--		<listener-class>futures.dao.GetFuturesData</listener-class>-->
<!--	</listener>-->
<!--	<listener>-->
<!--		<listener-class>exchanges.dao.GetExchangesData</listener-class>-->
<!--	</listener>-->
	<!-- ================  trade end =================           -->

	<!-- ================  position begin =================           -->
	<servlet>
		<servlet-name>position_file_servlet_action</servlet-name>
		<servlet-class>position.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>position_file_servlet_action</servlet-name>
		<url-pattern>/position_file_servlet_action</url-pattern>
	</servlet-mapping>
	<!-- ================  position end =================           -->

	<servlet>
		<servlet-name>news_file_servlet_action</servlet-name>
		<servlet-class>news.file.ServletAction</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>news_file_servlet_action</servlet-name>
		<url-pattern>/news_file_servlet_action</url-pattern>
	</servlet-mapping>

	<!-- ===========用来爬取财经新闻开始=============-->
    	<!-- 链接： http://localhost:8080/news_getdata_servlet_action?action=get_news_data-->
    	<servlet>
        	<servlet-name>news_getdata_servlet_action</servlet-name>
        	<servlet-class>news.getdata.ServletAction</servlet-class>
    	</servlet>
    	<servlet-mapping>
        	<servlet-name>news_getdata_servlet_action</servlet-name>
        	<url-pattern>/news_getdata_servlet_action</url-pattern>
    	</servlet-mapping>
    	<!-- ===========用来爬取财经新闻结束=============-->
<servlet>
		<servlet-name>todolist_file_servlet_action</servlet-name>
		<servlet-class>todolist.file.ServletAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>todolist_file_servlet_action</servlet-name>
		<url-pattern>/todolist_file_servlet_action</url-pattern>
	</servlet-mapping>

</web-app>
